<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledge.mapper.HistoryMapper">

    <resultMap type="History" id="HistoryResult">
        <result property="index"    column="index"    />
        <result property="cautionid"    column="cautionID"    />
        <result property="informid"    column="informID"    />
        <result property="positionid"    column="positionID"    />
        <result property="sendtime"    column="sendtime"    />
    </resultMap>

    <resultMap type="Knowledge" id="KnowledgeResult">
        <result property="informid"    column="InformID"    />
        <result property="inform"    column="inform"    />
        <result property="weight"    column="weight"    />
        <result property="disastertype"    column="disastertype"    />
        <result property="disposeobj"    column="disposeobj"    />
        <result property="detailtype"    column="detailtype"    />
        <result property="label4"    column="label4"    />
        <result property="informtypeid"    column="informtypeID"    />
    </resultMap>

    <sql id="selectHistoryVo">
        select a.index, a.cautionID, b.inform as informID, c.positionname as positionID, a.sendtime
        from History a
        left join Knowledge b on b.informID = a.informID
        left join UserPosition c on c.positionID = a.positionID
    </sql>

    <!--实现Record2Information-->
    <select id="selectHistoryListbyRecordid" parameterType="Long" resultMap="HistoryResult">
        select * from History
        where cautionID = #{index}
    </select>
    <!--实现Record2Information-->
    <select id="selectKnowledgeByInformID" parameterType="Long" resultMap="KnowledgeResult">
        <!-- select InformID, inform, weight, disastertype, disposeobj, detailtype, label4, informtypeID from Knowledge -->
        select a.InformID, a.inform, a.weight, e.typename as disastertype, f.objname as disposeobj, d.typename as detailtype, c.labelname as label4, b.typename as informtypeid
        from Knowledge a
        left join InformType b on b.typeID = a.informtypeID
        left join Label4 c on c.labelID = a.label4
        left join DetailType d on d.typeID = a.detailtype
        left join DisasterType e on e.typeID = a.disastertype
        left join DisposeObj f on f.objID = a.disposeobj
        where a.informID = #{index}
    </select>

    <select id="selectHistoryList" parameterType="History" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        <where>
            <if test="cautionid != null  and cautionid != ''"> and a.cautionID = #{cautionid}</if>
            <if test="informid != null  and informid != ''"> and a.informID = #{informid}</if>
            <if test="positionid != null  and positionid != ''"> and a.positionID = #{positionid}</if>
            <if test="sendtime != null "> and a.sendtime = #{sendtime}</if>
        </where>
    </select>

    <select id="selectHistoryByIndex" parameterType="Long" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        where a.index = #{index}
    </select>

    <insert id="insertHistory" parameterType="History">
        insert into History
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="index != null">index,</if>
            <if test="cautionid != null">cautionID,</if>
            <if test="informid != null">informID,</if>
            <if test="positionid != null">positionID,</if>
            <if test="sendtime != null">sendtime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="index != null">#{index},</if>
            <if test="cautionid != null">#{cautionid},</if>
            <if test="informid != null">#{informid},</if>
            <if test="positionid != null">#{positionid},</if>
            <if test="sendtime != null">#{sendtime},</if>
        </trim>
    </insert>

    <update id="updateHistory" parameterType="History">
        update History
        <trim prefix="SET" suffixOverrides=",">
            <if test="cautionid != null">cautionID = #{cautionid},</if>
            <if test="informid != null">informID = #{informid},</if>
            <if test="positionid != null">positionID = #{positionid},</if>
            <if test="sendtime != null">sendtime = #{sendtime},</if>
        </trim>
        where index = #{index}
    </update>

    <delete id="deleteHistoryByIndex" parameterType="Long">
        delete from History where index = #{index}
    </delete>

    <delete id="deleteHistoryByIndexs" parameterType="String">
        delete from History where index in
        <foreach item="index" collection="array" open="(" separator="," close=")">
            #{index}
        </foreach>
    </delete>
</mapper>