<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledge.mapper.HistoryMapper">

    <resultMap type="History" id="HistoryResult">
        <result property="index" column="index"/>
        <result property="cautionid" column="cautionID"/>
        <result property="informid" column="informID"/>
        <result property="positionid" column="positionID"/>
        <result property="tele" column="tele"/>
        <result property="sendtime" column="sendtime"/>
<!--        <result property="sendtimeStart" column="sendtime"/>-->
<!--        <result property="sendtimeEnd" column="sendtime"/>-->
        <result property="librarytype" column="librarytype"/>
    </resultMap>

    <sql id="selectHistoryVo">
        select a.`index`, a.cautionID,
        case a.librarytype
        when 1
        then
        K.inform
        when 2
        then
        SE.inform
        when 3
        then
        S.inform
        end
        as informID, U.username as tele, U.positionID, a.sendtime, a.librarytype
        from History a
        left join Knowledge K on K.informID = a.informID
        left join Special S on S.informID = a.informID
        left join Security SE on SE.informID = a.informID
        left join UserInfo U on U.tele = a.tele
    </sql>


    <select id="selectHistoryList" parameterType="History" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        <where>
            <if test="tele != null ">and tele = #{tele}</if>
            <if test="cautionid != null ">and cautionID = #{cautionid}</if>
            <if test="sendtimeStart != null and sendtimeEnd != null">and date(sendtime) between #{sendtimeStart} and #{sendtimeEnd}</if>
            <if test="librarytype != null ">and librarytype = #{librarytype}</if>
        </where>
        order by a.sendtime desc
    </select>

    <select id="selectHistoryByIndex" parameterType="Long" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        where index = #{index}
    </select>

    <insert id="insertHistory" parameterType="History" useGeneratedKeys="true" keyProperty="index">
        insert into History
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cautionid != null">cautionID,</if>
            <if test="informid != null">informID,</if>
            <if test="tele != null">tele,</if>
            <if test="sendtime != null">sendtime,</if>
            <if test="librarytype != null">librarytype,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cautionid != null">#{cautionid},</if>
            <if test="informid != null">#{informid},</if>
            <if test="tele != null">#{tele},</if>
            <if test="sendtime != null">#{sendtime},</if>
            <if test="librarytype != null">#{librarytype},</if>
        </trim>
    </insert>

    <update id="updateHistory" parameterType="History">
        update History
        <trim prefix="SET" suffixOverrides=",">
            <if test="cautionid != null">cautionID = #{cautionid},</if>
            <if test="informid != null">informID = #{informid},</if>
            <if test="tele != null">tele = #{tele},</if>
            <if test="sendtime != null">sendtime = #{sendtime},</if>
            <if test="librarytype != null">librarytype = #{librarytype},</if>
        </trim>
        where `index` = #{index}
    </update>

    <delete id="deleteHistoryByIndex" parameterType="Long">
        delete
        from History
        where `index` = #{index}
    </delete>

    <delete id="deleteHistoryByIndexs" parameterType="String">
        delete from History where `index` in
        <foreach item="index" collection="array" open="(" separator="," close=")">
            #{index}
        </foreach>
    </delete>
</mapper>