<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledge.mapper.RecordMapper">

    <resultMap type="Record" id="RecordResult">
        <result property="cautionid"    column="cautionID"    />
        <result property="cautiontime"    column="cautiontime"    />
        <result property="location"    column="location"    />
        <result property="distypeid"    column="distypeID"    />
        <result property="dillobject"    column="dillobject"    />
        <result property="siteid"    column="siteID"    />
        <result property="truckid"    column="truckID"    />
        <result property="detailtype"    column="detailtype"    />
        <result property="picture"    column="picture"    />
        <result property="label4"    column="label4"    />
        <result property="status"    column="status"    />
        <result property="keywords"    column="keywords"    />
        <result property="siteid2"    column="siteID2"    />
    </resultMap>

    <sql id="selectRecordVo">
        select cautionID, cautiontime, location, distypeID, dillobject, siteID, truckID, detailtype, picture, label4, status, keywords, siteID2 from Record
    </sql>

    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>
            <if test="cautiontimeStart != null and cautiontimeEnd != null"> and date(cautiontime) between #{cautiontimeStart} and #{cautiontimeEnd}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="distypeid != null "> and distypeID = #{distypeid}</if>
            <if test="dillobject != null "> and dillobject = #{dillobject}</if>
            <if test="siteid != null "> and siteID = #{siteid}</if>
            <if test="truckid != null "> and truckID = #{truckid}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
            <if test="siteid2 != null  and siteid2 != ''"> and siteID2 = #{siteid2}</if>
        </where>
        order by cautiontime desc
    </select>

    <select id="selectRecordByCautionid" parameterType="String" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where cautionID = #{cautionid}
    </select>

    <insert id="insertRecord" parameterType="Record">
        insert into Record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cautionid != null">cautionID,</if>
            <if test="cautiontime != null">cautiontime,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="distypeid != null">distypeID,</if>
            <if test="dillobject != null">dillobject,</if>
            <if test="siteid != null">siteID,</if>
            <if test="truckid != null">truckID,</if>
            <if test="detailtype != null">detailtype,</if>
            <if test="picture != null">picture,</if>
            <if test="label4 != null">label4,</if>
            <if test="status != null">status,</if>
            <if test="keywords != null">keywords,</if>
            <if test="siteid2 != null">siteID2,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cautionid != null">#{cautionid},</if>
            <if test="cautiontime != null">#{cautiontime},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="distypeid != null">#{distypeid},</if>
            <if test="dillobject != null">#{dillobject},</if>
            <if test="siteid != null">#{siteid},</if>
            <if test="truckid != null">#{truckid},</if>
            <if test="detailtype != null">#{detailtype},</if>
            <if test="picture != null">#{picture},</if>
            <if test="label4 != null">#{label4},</if>
            <if test="status != null">#{status},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="siteid2 != null">#{siteid2},</if>
        </trim>
    </insert>

    <update id="updateRecord" parameterType="Record">
        update Record
        <trim prefix="SET" suffixOverrides=",">
            <if test="cautiontime != null">cautiontime = #{cautiontime},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="distypeid != null">distypeID = #{distypeid},</if>
            <if test="dillobject != null">dillobject = #{dillobject},</if>
            <if test="siteid != null">siteID = #{siteid},</if>
            <if test="truckid != null">truckID = #{truckid},</if>
            <if test="detailtype != null">detailtype = #{detailtype},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="label4 != null">label4 = #{label4},</if>
            <if test="status != null">status = #{status},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="siteid2 != null">siteID2 = #{siteid2},</if>
        </trim>
        where cautionID = #{cautionid}
    </update>

    <delete id="deleteRecordByCautionid" parameterType="String">
        delete from Record where cautionID = #{cautionid}
    </delete>

    <delete id="deleteRecordByCautionids" parameterType="String">
        delete from Record where cautionID in
        <foreach item="cautionid" collection="array" open="(" separator="," close=")">
            #{cautionid}
        </foreach>
    </delete>
</mapper>